html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  background-color: #732f74;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
}

#profilepic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 50px auto 0;
  border: medium solid white;
  display: block;
}

body {
  background-color: #f6f9ec;
}

#botões {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.botões {
  background-color: #c854e8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 250px;
  display: block;
  margin: 0 auto;
}